In [1]:
# 1) substraction 
def sub(a,b):
    result=a-b
    print(result)
sub(60,30)

30

In [2]:
# 2) multiplication 
def mult(a,b,c):
    result=a * b * c
    print(result)
mult(3,6,9)

162

In [3]:
# 3) power function 
def power(a,b):
    result=a**3,b**4
    print(result)
power(2,5)

(8, 625)

In [4]:
# 4) cube 
def cube(a):
    result=a**2
    print(result)
cube(21)

441

In [9]:
# 5) mean of value 
import numpy as np
np.mean([2,23,108,93,1])

45.4

In [6]:
# 6) arithmatic operation 
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mult(a,b):
    print(a*b)
def div(a,b):
    print(a/b)
    
add(3,9)
sub(3,9)
mult(3,9)
div(3,9)

12
-6
27
0.3333333333333333

In [4]:
# 1) substraction 
sub1=lambda a,b : a-b 
sub1(60,30)

30

In [5]:
# 2) multiplication 
mult1=lambda a,b,c : a * b * c
mult1(3,6,9)

162

In [6]:
# 3) power function 
power1=lambda a,b : a**b
power1(5,4)

625

In [7]:
# 4) cube 
cube1=lambda a : a**2
cube1(21)

441

In [5]:
# 5) mean of value 
men1 = lambda *xyz : sum(xyz)/len(xyz)
men1(1,3,6,9,18,27,60)

17.714285714285715

In [18]:
# 6) arithmatic operation 
add=lambda a,b : a+b
add(3,9)

12

In [19]:
sub=lambda a,b: a-b 
sub(3,9)

-6

In [20]:
mult=lambda a,b : a*b 
mult(3,9)

27

In [21]:
div=lambda a,b : a/b
div(3,9)

0.3333333333333333

In [3]:
def mean(*a):
    return sum(a)/len(a)

mean(1,3,6,9,18,27,60)

17.714285714285715

In [4]:
men1 = lambda *xyz : sum(xyz)/len(xyz)
men1(1,3,6,9,18,27,60)

17.714285714285715

In [6]:
def var(*x):
    m=sum(x)/len(x)
    diff=list(map(lambda a:(a-m)**2,x))
    v=sum(diff)/len(x)
    return v

var(1,3,6,9,18,27,60)

369.06122448979596