In [1]:
p=50
if p>75:
    print ("O grade")
elif p>60 and p<=75:
    print("A grade")
elif p>50 and p<=60:
    print("B grade")
elif p>35 and p<=50:
    print("C grade")
else:
    print("fail")

C grade

In [2]:
n=546
if n%2==0 and n%3!=0:
    print("divisible by 2, not 3")
elif n%2==0 and n%3==0:
     print("divisible by 2, and 3")
elif n%3==0 and n%2!=0:
    print("divisible by 3, not 2")
else:
    print("not divisible by 2, not 3")

divisible by 2, and 3

In [13]:
# 2) creat a list of 1 to 20 number using for loop [1,2,3,...,20]
range=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(range[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
# 1) 
for i in range(1,6):
    for j in range(0,6):
        print(i+j)

1
2
3
4
5
6
2
3
4
5
6
7
3
4
5
6
7
8
4
5
6
7
8
9
5
6
7
8
9
10

In [11]:
# 4) cube of odd values between 20 to 40 
for n in range(20,41):
    if n%2==1:
        print(n**3)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

In [3]:
# 5)
name=["pooja","priti","sonu","snehal","monika"]
ages=[20,21,23,25,24]
for i in range(len(name)):
    print("my name is",name[i],"my age is",ages[i])

my name is pooja my age is 20
my name is priti my age is 21
my name is sonu my age is 23
my name is snehal my age is 25
my name is monika my age is 24

In [14]:
# 3) creat a list of 20 to 1 number using for loop [20,...,1]
range=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(range[::-1])

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# 6) write a python program to get the sumof a only non-negative integer.[1,4,-5,-20,10]
m=[1,4,-5,-20,10]
sum=0
for i in m:
    if i>0:
        sum+=i
print(sum)

15

In [1]:
# 7) write code of factorial 
n=3
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

6

In [7]:
# 2) creat a list of 1 to 20 number using for loop [1,2,3,...,20]  while loop
a=20
i=1
while i<=a:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
# while loop
m=[4,5,-65,-7,-15,6]
s=0
i=1
while i in m:
    if i>0:
        s=s+i
print(s)
i=i+1

0

In [12]:
# while loop
name=["pooja","priti","sonu","snehal","monika"]
ages=[20,21,23,25,24]
i=0
while i in range(len(name)):
     print("my name is",name[i],"my age is",ages[i])
     i=i+1

my name is pooja my age is 20
my name is priti my age is 21
my name is sonu my age is 23
my name is snehal my age is 25
my name is monika my age is 24

In [13]:
#while loop
my_list=[]
i=1
while i<22:
    my_list.append(i)
    print(my_list)
    i=i+1

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [16]:
# while loop
my_list=[]
i=1
while i<22:
    my_list.insert(0,i)
    print(my_list)
    i=i+1

[1]
[2, 1]
[3, 2, 1]
[4, 3, 2, 1]
[5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]
[8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
def sq(n):
    ans=n*n
    print(ans)

In [2]:
sq(10)

100

In [4]:
s="statistics"
len(s)

10